body {
    background-color: #ECFAE5;
}

.container {
    background-color: #DDF6D2;
    text-align: center;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #B0DB9C;
    border: none;
    color: rgb(19, 131, 70);
    padding: 12px 24px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

button:hover {
    background-color: #45a049;
    box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}

fieldset {
    background-color: #70f6ac;
    border: 2px solid #2c6b0f;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

legend {
    font-size: 18px;
    font-weight: bold;
    color: #2c6b0f;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #2c6b0f;
    font-family: 'Gill Sans', Calibri, sans-serif;
}

select, input[type="number"] {
    width: 150px;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #2c6b0f;
    border-radius: 4px;
    box-sizing: border-box;
}

#profile {
    display: block;
    margin: 10px auto;
    border-radius: 50%;
    border: 2px solid #2c6b0f;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
